<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

</head>

<body>
    <div>Welcome <%=username%></div>
    <a href="randomjoke"> View a random joke </a><br>
    <a href="alljokes"> View all jokes </a><br>
    <a href="addjoke"> Add ur own joke </a><br>

</body>


</html>
