<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

</head>

<body>

    <div><%=jokes.getRandomJoke()%> </div><br>
    <a href="randomjoke">Another?</a><br>
    <a href="/">Go back</a>
</body>


</html>
